@model RedisStudy.DAL.Abstraction.Models.Function

@{
    ViewBag.Title = "删除";
}

<h2>删除</h2>

<h3>是否确实要删除此项目?</h3>
<div>
    <h4>函数管理</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FunName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FunName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FunType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FunType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FunRemark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FunRemark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsUsed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsUsed)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回列表", "Index")
        </div>
    }
</div>
